<mat-nav-list class="sidebar-list">
  <a mat-list-item routerLink="/dashboard/home" routerLinkActive="active">
    <mat-icon matListItemIcon>home</mat-icon>
    <div matListItemTitle>Home</div>
  </a>
  <a mat-list-item routerLink="/dashboard/users" routerLinkActive="active">
    <mat-icon matListItemIcon>people</mat-icon>
    <div matListItemTitle>Users</div>
  </a>
  <a mat-list-item routerLink="/dashboard/settings" routerLinkActive="active">
    <mat-icon matListItemIcon>settings</mat-icon>
    <div matListItemTitle>Settings</div>
  </a>
</mat-nav-list>
