.table-card {
  height: 100%;
}

mat-card-header {
  margin-bottom: 16px;
}

.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
}

th.mat-header-cell {
  font-weight: 600;
  color: #333;
}
